// Colors
$primary-color: #0b2447 !default;
$secondary-color: #f3f4f5 !default;
$white: #fff !default;
$button-color: #0b2447 !default;
$black: #363636 !default;
$link-color: #1eaedb !default;
$font-color: #0b2447 !default;
$roman-silver: #818a91 !default;
$gainsboro: #dedede !default;
$granite-gray: #626262 !default;
$dim-gray: #6a6a6a !default;
$papaya-whip: #ffefd1 !default;
$anti-flash: #f1f2f3 !default;

// Typography
$font-family: "Hind", sans-serif !default;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-weight-medium: 500 !default;
$font-weight-reg: 400 !default;
$font-weight-light: 300 !default;

// Breakpoints
$bp-xxs: 375px !default;
$bp-xs: 575px !default;
$bp-sm: 767px !default;
$bp-md: 992px !default;
$bp-lg: 1200px !default;
$bp-xl: 1366px !default;
$bp-xxl: 1440px !default;
